// Override Bulma initial variables
@use "bulma/sass/utilities/initial-variables" as iv with (
  $family-sans-serif: ("Arimo", sans-serif),
  $family-monospace: ("Fira Code", monospace)
);

// Override Bulma derived variables
@use "bulma/sass/utilities/derived-variables" as dv with (
  $primary: #8a151b,
  $success: #208b11,
  $danger: #b82e2e,
  $warning: #ead654,
  $link: #8a151b
);

// Import full Bulma
@use "bulma/sass";

// Import Buefy styles
@use "buefy/src/scss/buefy";

// Import fonts
@use "./fonts.scss";
